asgiref
Django
django-cors-headers
django-extensions
djangorestframework
djangorestframework_simplejwt
gunicorn
packaging
pillow
psycopg2-binary
PyJWT
python-decouple
rest-framework-simplejwt
sqlparse
typing_extensions
whitenoise
